
@{
    ViewBag.Title = "Create";
}

<h2>Upload your excel file here</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<input type="File" name="file"  />
<input type="submit" value="upload" />
}

